.booking{
    position: sticky;
    padding: 0rem 1rem 1.5rem 1rem;
    top: 80px;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-bottom: 2.5rem;
}

.form--form{
    margin-top: .5rem;

}
.booking-form h4{
    text-align: center;
    font-weight: 200;
    margin: .5rem 0rem;
    font-size: 24px;
    color: var(--h1);
}
.booking-form .form--form input{
    width: 100%;
    padding: .5rem;
    color: var(--main--color);
    background-color: var(--background--color);
    font-size: 16px;
    border: none;
    margin: 0rem 0rem .7rem 0rem;
    border-bottom: .5px solid whitesmoke;
    outline: none;
}
.form--form input::placeholder{
    color: darkgray;
    font-size: 14px;
}
.booking-form .form--form label{
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 1.5px;
    color: var(--main--color);
}
.form--date{
    display: flex;
    width: 100%;
    margin-top: .2rem;
}
.form--date #book{
    width: 110%;
    color: aliceblue;
    margin: 0rem;
}
.form--date #group{
    width: 100%;
    color: aliceblue;
    margin: 0rem;
}
.booking-bottom button{
    border: 1px solid black;
    padding:12px 18px;
    color:#eee;
    background-color:gray;
    border-radius:20px;
    font-size:20px;
    letter-spacing:.5px;
    width:50%;
        margin-left: 5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.booking-bottom .bottom{
    display: "flex";
    align-items:"center";
    gap:"1";
    border-bottom: 1px solid aliceblue;
    border-top: 1px solid aliceblue;
    justify-content:"space-between";
    padding: 0;
}
.booking-bottom button:hover{
    transform: scale(1.1);
    border: 1px solid whitesmoke;
    background-color: black;
    color: lavender;
    transition: .4s all;
}
