.explorehead{
    margin-top: 4rem;
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: rgb(55, 120, 141);

}
.explorehead .i{
    font-size: 40px;
    margin-right: 10px;
}
.prev, .next{
    border-radius: 14px;
        margin: 10px;
        border: none;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        padding: 12px;
        background-color: #cfcccc;
        letter-spacing: 2px;
}
.prev:hover,.next:hover{
    background-color: #59adaf;
        color: #eee;
        transition: .2s ease-in-out;
        border: none;
        transform: scale(.9);
}
.exploreslider{

    cursor: grab;
    position: relative;
    margin-top: 1rem;
    border-radius: 30px;
    overflow: hidden;
    padding: 1.2rem;
}

.innerslider{
    height: 100%;
display: flex;
gap: 1rem 4rem;
padding: 1rem 0 ;
    width: 100%;
    transition: transform 0.5s ease-out;

}

.place{
    width: 400px;
    /* min-height: 600px; */
    border-radius: 18px;
        background-color: #d7d7ec;
    position: relative;
    padding: 1.5rem;
    /* background-color:#d3d3db; */
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .1);
    cursor: pointer;
    height: 560px;
}
.place:hover{
    top: -4px;
    transition: 1s linear;
    box-shadow: 8px 8px 11px rgba(33, 33, 33, .2)
}
.place h3{
    letter-spacing: 2px;
    margin: 10px 0px;
    font-weight: 700;
    color: #314f73;
    font-size: 24px;


}
.place img{
    height: 300px;
    border-radius: 18px;
    width: 350px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, .3);
}
.place .pl{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color: rgb(1, 162, 162);

}
.place .desc{
    text-align: justify;
    border-radius: 10px;
    font-size: 15px;
    margin-top:.5rem;
    margin-bottom: .3rem;
    padding: .5rem;
}
.place .time{
    text-align: start;
    font-size: 18px;
    color: rgb(1, 162, 162);
    bottom: 2%;
}
.place .time i{
    margin-right: 5px;
}
.exploremore{
    display: flex;
    align-items: center;
    justify-content: center;
}
.exploremore button{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .3);
    background-color: lightblue;
    border: 0px solid transparent;
    padding: 2.5rem;
    border-radius: 20px;
}
.exploremore button:hover{
    top: 4px;
    transform: scale(.98);
    border: 0px solid transparent;
    filter: brightness(.9);
    background-color: rgb(156, 206, 222);
}
.exploremore button a{
    text-decoration: none;
    font-weight: 200;
    color: azure;
        letter-spacing: 4px;
            text-transform: uppercase;
                font-size: 40px;
}
@media screen and (max-width: 900px) {
    .place {
        width: 300px;
        margin-right: 2rem;
    }

    .place img {
        height: 250px;
        width: 300px;
    }
        .innerslider {
            display: flex;
            flex-wrap: wrap;
            margin: 2rem;
            align-items: center;
            justify-content: center;
            width: 100%;
            transition: transform 0.5s ease-out;
        }
    .place{
        width:50%;
    }
}