.gallery-title{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: start;
    margin:4rem;
    color: var(--h1);
}
.gallery-title span{
margin: 2rem 3rem;

}
.gallery-title h2{
    margin-bottom: 2.5rem;
}

.galleryImg{
    border-radius: 18px;
    display: block;
    height: auto;
    transition: .3s;
}
.galleryImg:hover{
    transform: scale(1.05);
}