.gallery-title{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: start;
    margin:4rem;
    color: var(--h1);
}
.gallery-title span{
margin: 2rem 3rem;

}
.gallery-title h2{
    margin-bottom: 2.5rem;
}
.gallery-title h2 span{
    background: var(--main--color);
        display: inline-block;
        color: black;
        clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0 100%, 7% 50%, 0% 0%);
        padding: .5rem 4rem;
}

.galleryImg{
    border-radius: 18px;
    display: block;
    height: auto;
    transition: .3s;
}
.galleryImg:hover{
    transform: scale(1.05);
}