.trekimg img{
    object-fit: cover;
    height: 80vh;
    width: 100%;
}
.trektext {

    margin: 2rem 1rem;
    background-color: black;
    padding: 4rem 6rem;
    display: flex;
    justify-content: space-between;
    border-radius: 18px;
}

.trektext .text {
    width: 50%;
    text-align: justify;
    color: var(--main--color);
}

.trektext h1 {
    text-align: start;
    font-size: 40px;
    letter-spacing: 2px;
    color: var(--font--colot);
    border-bottom: 5px rgb(186, 186, 244) solid;
}