.main--div{
    display: flex;
}
.left--div{
    width: 70%;
    margin: 8rem 0rem 14px 2rem;
}
.right--div{
    width: 35%;
    margin-left: 2rem;
    margin-top: 8rem;
    margin-right: 1rem;
}
.detail{
    min-height: 700px;    
}
.detail--img {
    height: 600px;
    width: 100%;
    border-radius: 12px;
}
.detail--img--div {
    margin-bottom: 8px;
}
.detail--info{
    width: 100%;
    border: 1px solid whitesmoke;
    border-radius: .5rem;
    padding: 1.5rem;
}
.detail--info .detail--text{
    display: flex;
    align-items: start;
    flex-direction: column;
}
.detail--location{
    color:var(--font--color);
    padding:6px 8px;
    border-radius: 8px;
}
.detail--title{
    font-size: 38px;
    font-weight: 300;
    letter-spacing: 4px;
    color:rgb(200, 197, 197);
    margin-bottom: .7rem;
}
.rate{
    color: var(--main--color);
    font-size: 18px;
}
.detail--extra{
    color: #7b9ac0;
    margin-top: 1rem;
    font-size: 20px;
}
.detail--extra .price{
    font-family: geneva;
}
.detail--info h3{
    margin-top: 2rem;
    font-size: 22px;
    font-weight: 100;
    color: var(--h1);
}
.detail--info p{
    margin: .5rem 0rem;
    font-size: 16px;
    font-weight: 100;
    text-align: justify;
    color: var(--font--color);
}
.review h4{
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 1rem 1.5rem;
}
.rev--div{
    display: flex;
    gap: 1rem;
    margin-left: 1.5rem;
    align-items: center;
}
.rev--div span{
    font-size: 14px;
}
.review{
    color: cornsilk;
        margin: 2rem 0rem 2rem 0rem;
    width: 100%;
        border: 1px solid whitesmoke;
        border-radius: .5rem;
}
.review--input{
    margin: 2rem 0rem 2rem 1.5rem;
    padding: .7rem;
    font-size: 20px;
    border: 1px solid whitesmoke;
    border-radius: 2rem;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.review--input input{
    padding: .5rem .5rem;
    width: 100%;
    font-size: 16px;
    border:none;
    color: white;
    background-color:var(--background-color);
    box-shadow: none;
}
.review--input input:focus{
    outline: none;
}
.rev--btn{
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    background-color:gainsboro;
    color: black;
    border: 1px solid black;
    border-radius: 16px;

}
.rev--btn:hover{
    transform: scale(1.05);
    background-color: black;
    color: azure;
    border: 1px solid whitesmoke;
    transition: .2s all;
}
.rev--item{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    column-gap: 1rem;
    color: azure;
    margin-left: 2rem;
    margin-right: 2rem;
}
.rev--item img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    object-fit: cover;
}
.rev--item h5{
    font-size: 18px;
    font-weight: 100;
    margin-top: 1rem;
    color: var(--main--color);
}
.rev--name{
    font-size: 22px;
    font-weight: 200;
}
