*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: cochin;
    
}
:root{
    --background-color:#1e1e21;
    --font--color:#DDDDDD;
    --h1:#F7F5EB;
    --primary--color:#181616;
    --main--color:#d2f3ff;

}

body{
    background-color:var(--background-color);
    color:var(--font--color);
}